@page "/calendar"
@using System.Net
@using System.Runtime.InteropServices.JavaScript
@using System.Globalization
@using FinanceApp.Models.Dtos
@using FinanceApp.Web.Components
@inject HttpClient Http

@inherits CalendarBase

<PageTitle>Calendar</PageTitle>

<h1>Calendar</h1>


<h2 style="text-align: center; margin: 0 10px;">@GetMonthAsString()</h2>


<br />
@if (EarningsCalendarList == null)
{
	<p>Loading...</p>
}
else
{
	<DisplayCalendar Length="month" EarningsCalendarList="EarningsCalendarList" StockHoldings="StockHoldings"></DisplayCalendar>
}