@page "/symbolexamples"


<h3>Stock Symbol Examples</h3>

<ul>
	<li>Apple Inc. - AAPL</li>
	<li>Microsoft Corporation - MSFT</li>
	<li>Amazon.com Inc. - AMZN</li>
	<li>Alphabet Inc. (Google)
		<ul>
			<li>GOOGL (Class A shares)</li>
			<li>GOOG (Class C shares)</li>
		</ul>
	</li>
	<li>Meta Platforms, Inc. (formerly Facebook, Inc.) - META</li>
	<li>Tesla, Inc. - TSLA</li>
	<li>Berkshire Hathaway Inc.
		<ul>
			<li>BRK.A (Class A shares)</li>
			<li>BRK.B (Class B shares)</li>
		</ul>
	</li>
	<li>Johnson & Johnson - JNJ</li>
	<li>JPMorgan Chase & Co. - JPM</li>
	<li>Visa Inc. - V</li>
	<li>Nvidia Corporation - NVDA</li>
	<li>UnitedHealth Group Incorporated - UNH</li>
	<li>Walt Disney Company (The) - DIS</li>
	<li>Procter & Gamble Company (The) - PG</li>
	<li>Mastercard Incorporated - MA</li>
	<li>Home Depot, Inc. (The) - HD</li>
	<li>Bank of America Corporation - BAC</li>
	<li>Taiwan Semiconductor Manufacturing Company Limited - TSM</li>
	<li>Adobe Inc. - ADBE</li>
	<li>PayPal Holdings, Inc. - PYPL</li>
	<li>Intel Corporation - INTC</li>
	<li>Comcast Corporation - CMCSA</li>
	<li>Cisco Systems, Inc. - CSCO</li>
	<li>Verizon Communications Inc. - VZ</li>
	<li>Coca-Cola Company (The) - KO</li>
	<li>AT&T Inc. - T</li>
	<li>Abbott Laboratories - ABT</li>
	<li>Merck & Co., Inc. - MRK</li>
	<li>Pfizer Inc. - PFE</li>
	<li>Chevron Corporation - CVX</li>
</ul>

@code {

}
